<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="de.onstream.android.games.gameoflife">
    <application>
         <activity android:name="de.onstream.android.games.gameoflife.MainActivity" android:label="Game Of Life"
                   android:theme="@style/MyTheme"
                   android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
